<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>Cyber Bullying Detection Model</title>
    <meta charset="utf-8" /> 
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        String:
        <textarea name="string" rows="4" cols="50"></textarea>
        <!--<input name="string" type="text" required>-->
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
   		<p style="font-size:50px">{{ prediction }}</p>
    {% endif %}
</div>

</html>
